﻿@model webbanhang.Models.Product

<h2>Product Details</h2>

<div>
    <h4>Name: @Model.Name</h4>
    <h4>Price: @Model.Price</h4>
    <h4>Description: @Model.Description</h4>
    <img src="@Model.ImageUrl" alt="Product Image" style="width: 300px; height: auto;" />

    @if (Model.ImageUrls != null)
    {
        foreach (var imageUrl in Model.ImageUrls)
        {
            <img src = "@imageUrl" alt = "Product Image" style = "width: 300px; height: auto;" />
        }
    }
</div>
